body {
    display: flex;
    justify-content: center;
    background-image: url(images/photo.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#container h1{
    text-align: center;
}
form#field {
    height: 390px;
    text-align: center;
    background-color: #341e06a3;
    width: 100%;
    padding: 35px;
    font-size: 20px;
    color: cornsilk;
    border-radius: 20px;
}
input {
    border-radius: 20px;
    border: none;
    outline: none;
    margin: 3px;
}
button#submit {
    background-color: lightslategray;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
button#update {
    background-color: lightslategray;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 42rem;
}
#update:hover{
    background-color: burlywood;
}
#submit:hover{
    background-color: burlywood;
}
div#result {
    min-width: 400px;
    min-height: 200px;
    background-color: #6a523adb;
    border-radius: 20px;
    padding: 20px;
    font-size: 24px;
    color: cornsilk;
}
th {
    text-align: center;
    color: black;
}
td {
    text-align: justify;
    padding: 10px;
}
.table-td:hover{
    background-color: #27231fbf;
}
#error{
    color: #fff200db;
}

.modal{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    text-align: center;
    font-size: 25px;
    background: rgb(78 73 73 / 44%);
    backdrop-filter: blur(10px);
  }
  .details {
    color: black;
    margin-top: 10rem;
}
.modal >button {
    position: relative;
    left: 44rem;
}
